/* The sidebar menu */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: 'Montserrat', sans-serif;
	background-color: #fafafa;
	color: #fafafa;
	text-shadow: 2px 2px 3px black;
    font-size: 16px;
	background: #fafafa;
	/* background-image: url('images/newYork2.jpg'); */

    /* CSS gradients */
    /* background-image: url('images/newYork2.jpg'), -moz-linear-gradient(top, #ADB2B6 0%, #ABAEB3 100%);
    background-image: url('images/newYork2.jpg'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADB2B6), color-stop(100%, #ABAEB3)); */
}
h1 {
	font-size: 25px;
	padding: 20px;
}

p {
	text-align: center;
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;

    height: 500px;
    z-index: 1;
    background-color: #353535;
    padding-top: 20px;
	border-bottom: 5px solid #9fee9f;
}
.sidebar input {
	box-sizing: border-box;
	height: 25px;
	margin: 15px 0 25px;
	width: 80%;
	border: 2px inset #9fee9f;
	border-radius: 5px;
	font-size: 17px;
	color: #353535;
	padding: 5px;
}
.sidebar input:focus {
	outline: none;
	box-shadow: 0 0 5px #fafafa;
}
.sidebar .buttons {
	display: flex;
	justify-content: space-evenly;
	box-sizing: border-box;
	width: 60%;
	padding: 10px 20px;
	margin-bottom: 15px;
}
.sidebar button {
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #9fee9f;
	background-color: #353535;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;

	border: 2px outset #282828;
}
.sidebar button:active {
	border-style: inset;
	background-color: #454545;
}
.sidebar button:focus {
	outline: none;
	box-shadow: 0 0 5px #fafafa;
}
main {
	flex: 1;
	padding: 50px 150px;
	background: no-repeat center bottom;
	background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(250, 250, 250, 0)), url('images/newYork2.jpg');
}
